<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Описание, зачем приложению нужна геопозиция -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Доступ к геолокации позволяет нам показать на карте интересны фотографии рядом с вами.</string>
  </dict>
</plist>